<!--Rodapé com Mapa do Site-->
<div class="container">
    <div class="col-12 m-auto">
        <br>
        <!--Logo-->
        <div class="row m-auto">
            <br>
            <img class="footer-logo" src="images/logo-tesourinhobranco.png" alt="logo" height="80vh">
            <br>
            <!--Social Media-->
            <div class="row m-auto" id="icons-social">
                <a class="f-link" href="#"><img src="images/facebook.png" class="icon-social"></a>
                <a class="f-link" href="#"><img src="images/instagram.png" class="icon-social"></a>
                <a class="f-link" href="#"><img src="images/linkedin.png" class="icon-social"></a>
            </div>
        </div>
        <!--Mapa do Site-->
        <div class="row m-auto sitemap">
            <div class="col-12 m-auto" id="sitemap" style="align-content: center; text-align: center;">
                <a class="f-link" href="#">Login</a>
                <br>
                <a class="f-link" href="#">Quem Somos</a>
                <br>
                <a class="f-link" href="#">Para quem é</a>
                <br>
                <a class="f-link" href="#">Como usar</a>
                <br>
                <a class="f-link" href="#">Depoimentos</a>
                <br>
                <a class="f-link" href="#">Comece agora</a>
                <br>
            </div>
            <br>
            <!--Contatos-->
            <div class="row m-auto contact-area">
                <br>
                <h2 class="fale-conosco">Fale conosco:</h2>
                <div class="col-12 m-auto link-contact" style="align-content: center; text-align: center;">
                    <a class="f-link" href="#"><img src="images/whatsapp.png" class="icon-contact"> (11) 99999-9999</a>
                    <a class="f-link" href="#"><img src="images/email.png" class="icon-contact"> contato@meutesourinho.com</a>
                    <br>
                </div>
            </div>
            <br>
            <!--Copyright-->
            <div class="col-12 m-auto">
                <br>
                <p class="copyright">Copyright 2021</p>
            </div>
        </div>
    </div>
</div>