<!--Rodapé com Mapa do Site-->
<div class="container">
    <div class="row">
    <br>
    <!--Mapa do Site-->
            <div class="col-3 mr-auto">
            <!--Logo-->
            <img src="images/logo-tesourinhobranco.png" alt="logo" height="70vh">
            <br>
            </div>
            <div class="col-3 ml-auto" id="sitemap">
            <br>
            <a class="f-link" href="#">Login</a>
            <br>
            <a class="f-link" href="#">Quem Somos</a>
            <br>
            <a class="f-link" href="#">Para quem é</a>
            <br>
            <a class="f-link" href="#">Como usar</a>
            <br>
            <a class="f-link" href="#">Depoimentos</a>
            <br>
            <a class="f-link" href="#">Comece agora</a>
            <br>
            </div>
            <!--Redes Socias-->
            <div class="col-3 ml-auto" id="social-media">
            <br>
            <a class="f-link" href="#">Facebook</a>
            <br>
            <a class="f-link" href="#">Instagram</a>
            <br>
            <a class="f-link" href="#">Linkedin</a>
            <br>
            </div>
            <!--Contatos-->
            <div class="col-3 ml-auto" id="contact-area">
            <br>
            <a class="f-link" href="#">E-mail</a>
            <br>
            <a class="f-link" href="#">WhatsApp</a>
            </div>
            <br>
    <!--Copyright-->
    <div class="row">
        <div class="col-12">
        <p class="copyright">Copyright 2021</p>
        </div>
    </div>
</div>
