<!--Rodapé com Mapa do Site-->
<div class="row">
    <br>
    <!--Logo-->
    <div class="row m-auto">
        <br>
        <img class= "footer-logo" src="images/logo-tesourinhobranco.png" alt="logo" height="80vh">
        <br>
    </div>
    <!--Mapa do Site-->
    <div class="col-12">
        <div class="col-6 m-auto" id="sitemap">
            <br>
            <a class="f-link" href="#">Login</a>
            <br>
            <a class="f-link" href="#">Quem Somos</a>
            <br>
            <a class="f-link" href="#">Para quem é</a>
            <br>
            <a class="f-link" href="#">Como usar</a>
            <br>
            <a class="f-link" href="#">Depoimentos</a>
            <br>
            <a class="f-link" href="#">Comece agora</a>
            <br>
        </div>
        <!--Contatos-->
        <div class="col-6 m-auto" id="contact-area">
            <br>
            <a class="f-link" href="#">E-mail</a>
            <br>
            <a class="f-link" href="#">WhatsApp</a>
        </div>
        <br>
        <!--Copyright-->
        <div class="row">
            <div class="col-12 m-auto">
                <p class="copyright">Copyright 2021</p>
            </div>
        </div>
    </div>
</div>