<!--Rodapé com Mapa do Site-->
<div class="container">
    <div class="col-12 m-auto">
        <br>
        <!--Logo-->
        <div class="row">
            <br>
            <img class="footer-logo" src="images/logo-tesourinhobranco.png" alt="logo" height="120vh">
            <!--Mapa do Site-->
            <div class="col-12 sitemap">
                <a class="f-link" href="#">Login</a>
                <a class="f-link" href="#">Quem Somos</a>
                <a class="f-link" href="#">Para quem é</a>
                <a class="f-link" href="#">Como usar</a>
                <a class="f-link" href="#">Depoimentos</a>
                <a class="f-link" href="#">Comece agora</a>
                <!--Social Media-->
                <div class="row m-auto icons-social">
                    <a class="f-link" href="#"><img src="images/facebook.png" class="icon-social"></a>
                    <a class="f-link" href="#"><img src="images/instagram.png" class="icon-social"></a>
                    <a class="f-link" href="#"><img src="images/linkedin.png" class="icon-social"></a>
                </div>
            </div>
            <br>
            <!--Copyright-->
            <div class="col-12 m-auto">
                <p class="copyright">Copyright 2021</p>
            </div>
        </div>
    </div>
</div>