<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Meu Tesourinho</title>
</head>

<body>
  <header class="container">

    <nav class="navbar navbar-dark bg-dark rounded">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="images/bau.svg" width="60=" height="40" alt="logo">
        Meu Tesourinho
      </a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
        aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent15">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <!-- Links -->

      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

  </header>
  <div class="container mt-2">
    <div class="row d-flex justify-content-between" style="height: 100px;">
      <div class="col-3 col-md-2 align-middle" style="height: 100px;">
        <div class="well ">
          <img src="images/Avatar.svg" class=" ml-2 align-middle img-fluid" style="height: 100px;" alt="logo">
        </div>
      </div>
      <div class="col-3 col-md-2">
        <div class="row d-flex justify-content-between" style="height: 100px;">
          <div class="col-12 col-md-12 my-2">
            <div class="card border-0  align-middle">
              <div class="progress mb-2  align-middle">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100">xp</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 my-2 ">
            <div class="card border-0 align-middle">
              <div class="progress mb-2  align-middle">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100">-xp</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-3 col-md-6">
      <img src="images/trilha.svg">
    </div>




    <div class="col-3 col-md-2" width="40%">
      <div class="well">OBJETIVOS</div>
    </div>
  </div>

  <div class="col-12 border border-sucess align-items-center my-2 rounded"
    style="background-color: #e4eaeb; max-height: 500px;">
    <div class="row mb-2 align-items-center d-flex justify-content-between rounded"
      style="background-color: #33A9AC; height: 50px;">
      <p class="text-center text-white mb-2 mx-2"> MINHA MESADA</p>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">R$</span>
      </div>
      <input type="text" class="form-control" aria-label="Quantidade em Reais">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <div class="row mx-3">
      <ul>
        <li>000,00</li>
        <li>000,00</li>
        <li>000,00</li>
        <li>000,00</li>
      </ul>

    </div>

  </div>

  <div class="col-12 border border-sucess align-items-center my-2 rounded"
    style="background-color: #e4eaeb; max-height: 500px;">
    <div class="row mb-2 align-items-center d-flex justify-content-between rounded"
      style="background-color: #FFA646; height: 50px;">
      <p class="text-center text-white mb-2 mx-2"> MEUS GASTOS</p>
    </div>
    <div class="row mx-2 mb-2">informações sobre os gastos</div>
  </div>

  <div class="col-12 border border-sucess align-items-center my-2 rounded"
    style="background-color: #e4eaeb; max-height: 500px;">
    <div class="row mb-2 align-items-center d-flex justify-content-between rounded"
      style="background-color: #982062; height: 50px;">
      <p class="text-center text-white mb-2 mx-2"> MINHAS METAS </p>
    </div>
    <div class="row mb-5 mx-2">
      Metas:
    </div>
  </div>

  </div> -->

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>