<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>

            <div class="banner">
                <img src="#" class="img-fluid" alt="Responsive image">
            </div>


            <h1 class="titulo-principal-index">Meu tesourinho</h1>

            <!--h2 class="titulos-index">Para Quem</!--h2>
            <div class="container-fluid">
                <p class="textos-index">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere molestias
                    molestiae nihil ab velit rerum reiciendis culpa consequatur ea voluptates? Modi
                    deserunt autem quos sit. Mollitia illo vel necessitatibus aspernatur.</p>
                <img src="https://as1.ftcdn.net/jpg/01/57/40/40/500_F_157404003_SsWHKsR1uulOR0nl6CgbCQSYdmTWP3hh.jpg" alt="..." class="img-thumbnail">

            </div>

            <h2 class="titulos-index">Como usar</h2>
            <div-- class="container-fluid">
                <p class="textos-index">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit rerum, ullam
                    reprehenderit
                    officiis omnis nemo dolore ducimus minima quibusdam quidem provident sunt alias sequi
                    atque quae voluptatem architecto pariatur? Vero!</p>
                <img src="https://as1.ftcdn.net/jpg/01/57/40/40/500_F_157404003_SsWHKsR1uulOR0nl6CgbCQSYdmTWP3hh.jpg" alt="..." class="img-thumbnail">

            </div-->

            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Para Quem?</h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                        prose here.</p>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                        prose here.</p>
                </div>
                <div class="col-md-5">
                    <img src="https://thumbs.web.sapo.io/?W=800&H=0&delay_optim=1&epic=NDc5cDohaIW3wtjpiBj2kJm8QBPt7SpkeAy3DvkujbHBy3y7E8FztPanHqfhPfC2vKFPUNvGJkL3Nd8vjeM3NE2CuvTx84G9WbaD1S05uF8Piko=">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Como Usar<span class="text-muted"> - Fácil e Divertido!</span></h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
                        how this layout would work with some actual real-world content in place.</p>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
                        how this layout would work with some actual real-world content in place.</p>

                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://as1.ftcdn.net/jpg/01/57/40/40/500_F_157404003_SsWHKsR1uulOR0nl6CgbCQSYdmTWP3hh.jpg">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Benefícios<span class="text-muted"></span></h2>
                    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
                        really intended to be actually read, simply here to give you a better view of what this would
                        look like with some actual content. Your content.</p>
                </div>
                <div class="col-md-5">
                    <img src="https://www.jornalcontabil.com.br/wp-content/uploads/2015/06/cofrinho.jpg">
                </div>
            </div>
            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->



            <nav class="container">
                <h2 class="titulos-index">Depoimentos</h2>
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel"
                    data-bs-interval="5000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="https://www.ctrlplay.com.br/wp-content/uploads/2019/06/criancas-no-computador-quais-sao-os-riscos-jpeg-1000x675.jpeg"
                                class="d-block w-100" alt="garota usando computador">
                            <div class="carousel-caption d-none d-md-block imagem-carousel">
                                <h3>Mariana, 9 anos</h3>
                                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo incidunt eos
                                    illum harum fuga nam repudiandae nihil odio, quasi eaque consequuntur sit voluptatum
                                    quidem, voluptates magnam maiores, atque cum."</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://s2.glbimg.com/U3Q82hZByRnwaSHihSe6DZWMaDw=/620x453/e.glbimg.com/og/ed/f/original/2014/12/02/crianca-computador.jpg"
                                class="d-block w-100" alt="garota usando computador">
                            <div class="carousel-caption d-none d-md-block imagem-carousel">
                                <h3>Valetina, 10 anos</h3>
                                <p>"Jogo mais legal que ja joguei, valeu a pena"</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://i1.wp.com/www.bkreader.com/wp-content/uploads/2020/03/Young-African-American-female-student-looking-at-a-laptop-computer-770x370-1.jpg?w=770&ssl=1"
                                class="d-block w-100" alt="garota usando o computador">
                            <div class="carousel-caption d-none d-md-block imagem-carousel">
                                <h3>Isabel, 11 anos</h3>
                                <p>"Adoro usar o Meu Tesourinho. Guardei dinheiro para meus jogos online".</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </nav>

            <div class="button-index">
                <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button"
                    aria-disabled="true">Começar Agora!</a>
            </div>


            <footer class="footer footer-dark" style="background-color: #34377A">
                <%- include('./partials/footer.ejs') %>
            </footer>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"></script>
    </body>

</html>