body {
  font-family: 'Poppins', 14px sans-serif;
}

a {
  color: white;
  font-family: 'Poppins', sans-serif;
}

/*Navbar Header*/
collapse navbar-collapse {
  color: white
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center
}


.login-button {
    background-color: #141750; 
    border: none;
    width: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px
}
.start-button {
      background-color: #33A9AB; 
      border: none;
      width: 25vh;
      color: white;
      font-family: 'Poppins', sans-serif;
      border-radius: 8px;
      padding: 5px;
      padding-left: 7px;
      padding-right: 7px;
}


@media (max-width:768px) {
  .login-button {
    width: 10;
    background-color: #141750; 
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .start-button {
  background-color: #33A9AB; 
  border: none;
  width: 25vh;
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  margin-bottom: 10%
  }
}

/*FAQ*/
.title-faq {
  color:#34377A;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  #title-faq { color:#34377A;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center
  }
}

form {
  background-color: #33A9AB;
  font-family: 'Poppins', sans-serif;
  padding: 2vh;
  color: white;
  border-radius: 5px;
}

h1.contact-form {
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.faq-duvida {
  background-color:#FFA746;
  font-family: 'Poppins', sans-serif;
  font-size:18px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px
}

@media (max-width:768px) {
  .faq-duvida {
    font-size: 15px
  }
}
.reply {
  text-align: center
}

.form-button {
  background-color: #34377A; 
  border:none;
  width: auto;
  border-radius: 4px;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  width: 15vh;
}

@media (min-width:768px) {
  .faq-questions {
    width: 50%;
    float: left;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
  };
  .form-questions {
    width: 50%;
    float: right;
    padding-top: 30%
  };
}

@media (min-width:768px) { 
  .form-box {
    width: 60%;
    padding-top: 5%;
    padding-bottom: 15px
  };
}

.pirate-faq {
  display: block;
  margin-left: auto;
  margin-right:auto
}

/*Footer*/
a.f-link {
  color: white;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
p.copyright {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 8px;
  text-align:center
}

img.footer-logo {
  margin: auto
}

@media (max-width: 768px) {
  .footer-logo {
    display:block;
    height: 16vh;
    margin-right: auto;
    margin-left: auto;
  };
}

.sitemap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: auto;
  margin: 2px;
  float: left
}

@media (max-width:768px) {
  .sitemap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: auto;
  }
}

a.f-link {
  text-align: center;
  align-self: center;
  margin: 4px;
  font-size: 15px
}

@media (max-width:768px) {
  .f-link {
    text-align: center;
    align-self: center;
    margin: auto;
    padding-top: 3px;
  }
}

.icon-social {
  align-content: center;
  width: 6vh;
  padding: 0
}

.icons-social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (max-width: 768px) {
  .icons-social {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-contact {
  align-content: center;
  width: 4vh;
  margin: 1vh
}

.contact-area {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

.fale-conosco {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  text-transform: uppercase;
  font-weight: bold;
}

.link-contact {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}