body {
  padding: 50px;
  font-family: 'Poppins', 14px sans-serif;
}

a {
  color: white;
  font-family: 'Poppins', sans-serif;
}

collapse navbar-collapse {
  color: white
}

h1.title-faq {
  color:#34377A;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center
}
form {
  background-color: #33A9AB;
  font-family: 'Poppins', sans-serif;
  padding: 2vh;
  color: white;
}
h1.contact-form {
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
button.btn-primary {
  background-color: #34377A;
  border:none;
  border-radius:5px;
  align-self: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.faq {
  background-color:#FFA746;
  font-family: 'Poppins', sans-serif;
  font-size:15px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  color: white;
  border: none;
  border-radius: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px
}
.reply {
  text-align: center
}
a.f-link {
  color: white;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}
p.copyright {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 8px;
  text-align:center
}