#senha1{
    background-color: rgba(51, 169, 171, 0.719);
    box-shadow :1px 1px 4px 3px gray;
    max-width: 100%;
    display: block;
    
    
  
    
}

#perfil{

   margin-left: 5%;
   margin-right: 2%;
    background-color:#34377A;
    text-align: center;
    color: white;
    
}

#privacidade{
    margin-right: 8%;
    margin-left: 8%;
}


#btenviar{
     color: black;
    background-color: #FFA746;
    width: 100%;
}

#form-control1{
    background-color:  #FFA746;

}

.progress-bar{
    background-color:#FFA746;
}

#excluir{
    background-color: rgba(51, 169, 171, 0.719);
    box-shadow :1px 1px 4px 3px gray;
    max-width: 100%;
}

a{

    color: rgb(0, 0, 0);
  
}

#link1{
    padding-right: 20px;
  
}

#link2{
    padding-bottom: 10px;
}

#inputPassword6{
margin:0% !important;
}

.form-group {
    margin:1px!important;
}